# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: denoland/setup-deno@v1
    - uses: actions/setup-go@v3
      with:
        go-version: '1.22'
        check-latest: true
        cache: true
    - name: Install golangci-lint
      uses: jaxxstorm/action-install-gh-release@v1.10.0
      with: # Grab the latest version
        repo: golangci/golangci-lint
        token: ${{ secrets.GITHUB_TOKEN }}
        binaries-location: golangci-lint-1.56.2-linux-amd64
        tag: v1.56.2
    - name: Install Task
      uses: arduino/setup-task@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Task
      run: task
